@import "tailwindcss";

body::-webkit-scrollbar {
    display: block;
    width: 0px;
    background: black;

    ::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 50px;
    }

}

.scroll-smooth {
    scroll-behavior: smooth;
}

/* Fallback font family */
body {
    font-family: 'Inter';
}

/* Defining the custom font */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.woff2') format('woff2'),
        /* Use .woff2 for better compatibility and performance */
        url('/fonts/Inter.woff') format('woff');
    /* Add a fallback .woff file */
    font-weight: 400;
    font-style: normal;
}